body 
  font-family "Raleway", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  overflow-y hidden
  background-color #fff

a
  color #000
  text-decoration none
  cursor pointer

.row
  display flex
  justify-content space-between
  padding 10px  
  line-height 30px
  align-content center

header
//  border-top-right-radius 5px
//  border-top-left-radius 5px
//  margin-bottom 5px
  background-color #444

  a
    color #fff
    
//  &:before 
//    top 0px
//    left 50%
//    border solid transparent
//    content " "
//    height 0
//    width 0
//    position absolute
//    pointer-events none
//    border-color rgba(49, 66, 77, 0)
//    border-bottom-color #444
//    border-width 10px
//    margin-left -10px


main
//  border-bottom-right-radius 5px
//  border-bottom-left-radius 5px
//  margin-top 5px
  overflow-y scroll

    
section
  border-bottom 1px #808080 solid
  
  &:last-child
    border-bottom 0
  
  a
    margin-left 5px
    
  .port-box
    font-size 11px
    padding 2px
    background-color #ADADAD
    border-radius 2px 

  .right,.left 
    display inline-block

  .on
    color #3A753A

  .off
    color #B32D2D
    

    
.settings 
  background #9E9E9E
  padding 10px 30px 10px 10px
  
  label 
    font-size 0.8em
    color #3E3E3E
  
  input 
    display block
    background-color rgba(25, 25, 25, 0.3)
    border 0px
    color #fff
    padding-left 10px
    height 2em
    border-radius 3px
    outline none
    font-family inherit
    width 100%
    font-size 1em

  .row
    padding 0
    line-height initial

  .setting 
    margin-top 8px
    
  .name 
    width 75%
    
  .del-row 
    margin-top 20px
    
  .del 
    color #9C3232
    font-size 0.9em
  



  



