//// TEMPORARY STYLES
//body
//  padding 40px 30%
//  background #eee
  
// REAL STYLES
body 
  font-family "Raleway", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  overflow-y hidden

a
  color #000
  text-decoration none


main
  background-color #fff
  border-radius 5px
  margin-top 20px
  overflow-y scroll

header, section
  display flex
  justify-content space-between
  padding 10px  
  line-height 30px
  align-content center


header
  border-top-right-radius 5px
  border-top-left-radius 5px
  margin-bottom 5px
  background-color #444

  a
    color #fff
    
  &:before 
    top 0px
    left 50%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none
    border-color rgba(49, 66, 77, 0)
    border-bottom-color #444
    border-width 10px
    margin-left -10px

    
section
  border-bottom 1px #808080 solid
  
  &:last-child
    border-bottom 0
  
  a
    margin-left 5px
    
  .port 
    font-size 11px
    padding 2px
    background-color #ADADAD
    border-radius 2px 

  .right,.left 
    display inline-block

  .on
    color #3A753A

  .off
    color #B32D2D
  
  
  







