doctype
html
  head
    title Mockup
    // Styles
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='lib/reset.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')


    // Libraries
    script(type='text/javascript', src='lib/lib.js')


    // Javascript
    script(type='text/javascript', src='js/app.js')
    
  body
    main
      header
        a(href="#").fa.fa-plus
        a(href="#").fa.fa-toggle-on
      section
        .left
          span.title Demo Website
          a(href="#").port 9999
          a(href="#").fa.fa-gear
          a(href="#").fa.fa-list-alt  
        .right
          a(href="#").fa.fa-circle.on
      section
        .left
          span.title Demo Website
          a(href="#").port 9999
          a(href="#").fa.fa-gear
          a(href="#").fa.fa-list-alt  
        .right
          a(href="#").fa.fa-circle.off
            

        