doctype
html
  head
    title Mockup
    // Styles
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='lib/reset.css')
    link(rel='stylesheet', type='text/css', href='css/app.css')

    // Libraries
    script(type='text/javascript', src='lib/angular.min.js')

    // Javascript
    script(type='text/javascript', src='lib/app.js')
    
  body(ng-app="harpsichord")
    main(ng-controller='serverListController')
      header
        a(ng-click='addServer()').fa.fa-plus
        a(ng-click='toggleStatus()').fa.fa-toggle-on
      section(ng-repeat='server in allServers track by $index')
        .left
          span.title {{ server.name }}
          a(ng-click='launchSite(server.port)').port {{ server.port }}
          a(ng-click='launchSettings(server.id)').fa.fa-gear
          a(ng-click='launchLogs(server.id)').fa.fa-list-alt  
        .right
          //.on or .off
          a(ng-click='toggleStatus(server.id)', class='{{ server.status }}').fa.fa-circle 
            

        